RewriteEngine On
RewriteBase /fly-web-service/server/

# Redirecionar todas as solicitações para o arquivo index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ server.php [L]

SetEnv DB_HOST "localhost"
SetEnv DB_USER "postgres"
SetEnv DB_PASS "Rorato0810"
SetEnv DB_PORT  5432
